<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <!-- 모바일 최적화 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Google material 폰트&아이콘 import -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- materialize.js보다 Jquery 먼저 불러오기 -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- 압축된 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!-- 위치추적용 구글 지도 API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM9YKBj-iKDcarbsZJ5t0MsJgSLG1QpZc"></script>
</head>
